./248449_nicola_muraro/LM/part_1/bin/*.pt
./248449_nicola_muraro/LM/part_2/bin/*.pt

./248449_nicola_muraro/NLU/part_1/bin/*.pt
./248449_nicola_muraro/NLU/part_2/bin/*.pt

./248449_nicola_muraro/SA/part_1/bin/*.pt
